ServerServices/Web References/ServicioMeno_Cash/IntegracionServiceCore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.sexternos.iev.ptesa.com/" targetNamespace="http://ws.sexternos.iev.ptesa.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Confirmar" type="tns:Confirmar" />
  <xs:element name="ConfirmarResponse" type="tns:ConfirmarResponse" />
  <xs:element name="Preautorizar" type="tns:Preautorizar" />
  <xs:element name="PreautorizarResponse" type="tns:PreautorizarResponse" />
  <xs:complexType name="Preautorizar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dto" type="tns:preautorizacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preautorizacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cara" type="xs:int" />
      <xs:element minOccurs="0" name="codigoEstacion" type="xs:string" />
      <xs:element minOccurs="0" name="direccionIP" type="xs:string" />
      <xs:element minOccurs="0" name="isla" type="xs:int" />
      <xs:element minOccurs="0" name="kilometros" type="xs:long" />
      <xs:element minOccurs="0" name="manguera" type="xs:int" />
      <xs:element minOccurs="0" name="numAuditoria" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="xs:int" />
      <xs:element minOccurs="0" name="ROM" type="xs:string" />
      <xs:element minOccurs="0" name="surtidor" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreautorizarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respuestaPreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaPreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Confirmar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dto" type="tns:confirmacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="direccionIP" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="kilometros" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="producto" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:int" />
      <xs:element minOccurs="0" name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfirmarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:respuestaConfDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaConfDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>