ServerServices/Web References/CentroInformacion/CentroInformacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEstacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="consecutivo" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaHora" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTurno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="horaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lecturaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lecturaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="total" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="abonosCreditos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idIsla" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="idManguera" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="Descuento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iva" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdROM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarCreditosVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recaudosCredito" type="tns:ArrayOfCreditosVenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCreditosVenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CreditosVenta" nillable="true" type="tns:CreditosVenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditosVenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCredito" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Porcentaje" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Recibo" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CodEstacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarCreditosVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarCreditosVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLectura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codEstacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTurno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idManguera" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="lecturaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lecturaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mecanicaInicial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mecanicaFinal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarLecturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarLecturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codestacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idreversion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaAbono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="consecutivo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTurno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversarVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarPagoExtraordinario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaPago" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idTurno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEstacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPago" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarPagoExtraordinarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarPagoExtraordinarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizacionIdentificador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaProximoMantenimiento" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizacionIdentificadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutorizacionIdentificadorResult" type="tns:ResponseAutorizarIdentificador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseAutorizarIdentificador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Autorizado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Respuesta" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarVenta" />
  </wsdl:message>
  <wsdl:message name="RegistrarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarCreditosVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarCreditosVenta" />
  </wsdl:message>
  <wsdl:message name="RegistrarCreditosVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarCreditosVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarLecturaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarLectura" />
  </wsdl:message>
  <wsdl:message name="RegistrarLecturaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarLecturaResponse" />
  </wsdl:message>
  <wsdl:message name="ReversarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:ReversarVenta" />
  </wsdl:message>
  <wsdl:message name="ReversarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:ReversarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarPagoExtraordinarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarPagoExtraordinario" />
  </wsdl:message>
  <wsdl:message name="RegistrarPagoExtraordinarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarPagoExtraordinarioResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizacionIdentificadorSoapIn">
    <wsdl:part name="parameters" element="tns:AutorizacionIdentificador" />
  </wsdl:message>
  <wsdl:message name="AutorizacionIdentificadorSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizacionIdentificadorResponse" />
  </wsdl:message>
  <wsdl:portType name="CentroInformacionSoap">
    <wsdl:operation name="RegistrarVenta">
      <wsdl:input message="tns:RegistrarVentaSoapIn" />
      <wsdl:output message="tns:RegistrarVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarCreditosVenta">
      <wsdl:input message="tns:RegistrarCreditosVentaSoapIn" />
      <wsdl:output message="tns:RegistrarCreditosVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarLectura">
      <wsdl:input message="tns:RegistrarLecturaSoapIn" />
      <wsdl:output message="tns:RegistrarLecturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReversarVenta">
      <wsdl:input message="tns:ReversarVentaSoapIn" />
      <wsdl:output message="tns:ReversarVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPagoExtraordinario">
      <wsdl:input message="tns:RegistrarPagoExtraordinarioSoapIn" />
      <wsdl:output message="tns:RegistrarPagoExtraordinarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutorizacionIdentificador">
      <wsdl:input message="tns:AutorizacionIdentificadorSoapIn" />
      <wsdl:output message="tns:AutorizacionIdentificadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentroInformacionSoap" type="tns:CentroInformacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenta">
      <soap:operation soapAction="http://tempuri.org/RegistrarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCreditosVenta">
      <soap:operation soapAction="http://tempuri.org/RegistrarCreditosVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLectura">
      <soap:operation soapAction="http://tempuri.org/RegistrarLectura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversarVenta">
      <soap:operation soapAction="http://tempuri.org/ReversarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPagoExtraordinario">
      <soap:operation soapAction="http://tempuri.org/RegistrarPagoExtraordinario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizacionIdentificador">
      <soap:operation soapAction="http://tempuri.org/AutorizacionIdentificador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CentroInformacionSoap12" type="tns:CentroInformacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenta">
      <soap12:operation soapAction="http://tempuri.org/RegistrarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCreditosVenta">
      <soap12:operation soapAction="http://tempuri.org/RegistrarCreditosVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarLectura">
      <soap12:operation soapAction="http://tempuri.org/RegistrarLectura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversarVenta">
      <soap12:operation soapAction="http://tempuri.org/ReversarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPagoExtraordinario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarPagoExtraordinario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizacionIdentificador">
      <soap12:operation soapAction="http://tempuri.org/AutorizacionIdentificador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentroInformacion">
    <wsdl:port name="CentroInformacionSoap" binding="tns:CentroInformacionSoap">
      <soap:address location="http://localhost:49800/Servicios/CentroInformacion.asmx" />
    </wsdl:port>
    <wsdl:port name="CentroInformacionSoap12" binding="tns:CentroInformacionSoap12">
      <soap12:address location="http://localhost:49800/Servicios/CentroInformacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>